body {
    background-color: rgb(226, 240, 249);
    font-family: 'Noto Sans Display', 'Rampart One', 'Rubik Mono One', sans-serif;
    font-size: 16px;
}

.menu {
    width: 100%;
    background-color: rgb(30, 158, 190);
    color: rgb(229, 227, 226);
    border-radius: 5px;
    font-size: 30px;
    display: flex;
    text-align: right;
}

.title {
    font-family: 'Rampart One', cursive;
    font-size: 1000%;
    color: rgb(30, 158, 190);
    top: 90px;
    position: absolute;
    left: 28%;

}

.cute img {
    width: 20%;
    height: auto;
    border-radius: 500px;
}

.row {
    color: rgb(30, 158, 190);
    display: flex;
    align-items: center;
}

p {
    width: 70%;
    margin: 0;
}

table {
    color: rgb(30, 158, 190);
    border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(30, 158, 190);
}



.footer {
    scroll-padding-block-start: 120px;
    background-color: rgb(30, 158, 190);
    color: rgb(229, 227, 226);
}