* {

    padding: 0;
    text-decoration: 0;
    list-style: none;
}

.decoration {
    text-decoration: underline;
}

body {
    background-color: rgb(226, 240, 249);
    font-family: 'Noto Sans Display', 'Rampart One', 'Rubik Mono One', sans-serif;
    font-size: 16px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header a {
    color: rgb(226, 240, 249);
    text-decoration: none; 
}


main{
    font-family: 'Noto Sans Display', 'Rampart One', 'Rubik Mono One', sans-serif;
    font-size: 16px;
    color: rgb(30, 158, 190);
    flex: 1;
    
}

.answer {
    font-family: 'Noto Sans Display', 'Rampart One', 'Rubik Mono One', sans-serif;
    font-size: 16px;
    color: rgb(30, 158, 190);
    align-items: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center; 
    line-height: 40px;
    font-size: 25;
}

.answer textarea{
    width: 400px;
	height: 150px;
}

.menu {
    width: 100%;
    background-color: rgb(30, 158, 190);
    color: rgb(229, 227, 226);


    font-size: 30px;
    display: flex;
    text-align: right;
}
.menu li {
    margin-right: 50px;
}


.title {
    font-family: 'Noto Sans Display', sans-serif;
    font-family: 'Rampart One', cursive;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 1000%;
    color: rgb(30, 158, 190);
    top: 90px;
    position: absolute;
    left: 28%;

}

.cute img {
    width: 20%;
    height: auto;
    border-radius: 500px;
}

.row {
    color: rgb(30, 158, 190);
    display: flex;
    align-items: center;
}

p {
    width: 70%;
    margin: 0;
}

table {
    color: rgb(30, 158, 190);
    border-collapse: collapse;
    border-width: 2px; 
    border-style: solid;
    border-color: rgb(30, 158, 190); 
}

.footer {
    scroll-padding-block-start: 120px;
    background-color: rgb(30, 158, 190);
    color: rgb(229, 227, 226);
 
    margin-top: 20px;
    
}

html {
    height: 100%;
}

.form{
    padding: 40px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
  
    margin: 0 auto;

}

form {
    text-align: center;
}

form p {
    text-align: left;
}

.btn {
    
    display: block;
    width: 150px;
    margin: 15px auto;
    border: 1px solid rgb(30, 158, 190);
    border-radius: 5px;
    color: rgb(30, 158, 190);
    font-weight: bold;
    text-align: center; 
    line-height: 40px; 
}

.btn:hover {
    background-color:rgb(30, 158, 190);
    color: white;
}



.form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 87vh; 
}

form select {
    width: 100%;
    margin-bottom: 15px;
}

form {
    text-align: center;
    border: none;
}